<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <%- css('all.css') %>
  <%- js('modernizer.js') %>
</head>
<body>
  <h1>This an app</h1>
  <p>Hello</p>
  <%- js('jquery.js') %>
  <script>
    window.app = {
      models: {}
    };
  </script>
  <%- js('application.js') %>
</body>
</html>